//Background body
$bg: #f0ebf4;

//Minecraft Theme:

$sap_green: #50822D;
$green: #60A933;
$mughal_green:#3D5D2B;
$acajou: #4E3427;
$raisin_black: #2C1F17;

//Princess Theme:

$classic_rose: #FCCCE4;
$pink_lavender: #DBB3C7;
$wild_orchid: #D66BA0;
$magenta_haze: #A54274;
$jazzberry_jam: #AB0055;

